<!DOCTYPE html>
<html>
  <head>
    <title>AutoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Cars", cars_path %>
    <%= link_to "Parts", parts_path %>
    <%= link_to "Makes", makes_path %>
    <%= link_to "Models", models_path %>

    <%= yield %>
  </body>
</html>
